<<<<<<< HEAD
footer{
	line-height:toRem(120px);
	text-align:center;
	font-size:toRem(20px);
=======
footer{
	line-height:toRem(120px);
	text-align:center;
	font-size:toRem(20px);
>>>>>>> refs/remotes/origin/master
}