<<<<<<< HEAD
<<<<<<< HEAD
@import 'init.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'footer.scss';
=======
@import 'init.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'footer.scss';
>>>>>>> refs/remotes/origin/master
=======
@import 'init.scss';
@import 'header.scss';
@import 'nav.scss';
@import 'footer.scss';
>>>>>>> refs/remotes/origin/master
@import 'content.scss';